 /* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f3136; 
}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #232b2b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #232b2b;

}

.imgmain {
    animation: corlor 2.4s linear 0s infinite alternate;
    border-radius: 50%;
    border: 5px solid #000;
    height: auto;
    display: block;
    margin-left: 42.5%;
    margin-right: auto;
    margin-top: 8%;
    width: 13%;
    box-shadow: 0 2px 10px rgb(0,0,0);
}
@keyframes myfirst {
  from {top: 0px;}
  to {top: 15px;}
}
.imgmain {
  position: relative;
  animation: myfirst 2.4s linear 0s infinite alternate;
}
.button {
  background-color: tomato;
  border: none;
  border-radius: 7px;
  color: white;
  font-family: Arial;
  padding: 16px 32px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.btn-group button {
  background-color: #04AA6D; /* Green background */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: rgb(107, 230, 83);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 20px rgba(145, 92, 182, .4);
}

